	.nav{
		background-color: #06c;
		margin: 0px auto;
	}
	.nav_main>ul{
		margin-left: 100px;
	}
	.nav_main>ul>li{
		list-style: none;
		width: 200px;
		background-color: #06c;
		float: left;
		margin: 0px auto;
		text-align: center;
		font-size: 15pt;
	}
	.nav_main a{
		text-decoration: none;
		color: white;
	}
	.nav_main li:hover{
		background-color: #9cf;	
	}
	.nav_sub{
		height: 170px;
		margin: 0px 100px;
		position: absolute;
		z-index: 100;
	}
	.nav_sub ul{
		width: 200px;
		height: 150px;
		float: left;
		background-color: rgba(207,232,249,0.95);
		display: inline-block;

		margin: 0px auto;
		box-sizing: border-box;
	}
	.nav_sub ul>li:FIRST-CHILD{
		margin-top: 10px;
	}
	.nav_sub ul>li{
		list-style: none; 
	}
	.nav_sub a{
		text-decoration: none;
		color: black;
		margin-left: 40px;
	}
	.nav_sub a:hover{
		color: #ccc;
	}