	.aside1{
		margin-top: 10px;
		background-color: #dcdcdc;
	}
			
	.login>div{
		width: 130px;
		margin: 10px 0px;
		margin-left: 10px;
	}
	.login>div+div{
		width: 50px;
		height: 44px;
		margin-left: 0px;
	}
	.aside1 input{
		width: 120px;
	}
	.login div{
		display: inline-block;
		float: left;
	}
	button{
		margin: 2px auto;
		width: 100%;
		height: 44px;
	}
	.reg{		
		display: block;
		clear: both;			
		color: black;
		font-size: 10pt;		
		width: 70px;
		height:25px;	
		margin-top: -10px;	
	}
		
	
	